<a href="https://colab.research.google.com/github/sankit601/python-project-datasets/blob/main/worldpopulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#in this project will try to analyze the world_population data

In [5]:
#firststep importing pandas
import pandas as pd

In [7]:
#importing data
wp=pd.read_csv('https://raw.githubusercontent.com/sankit601/python-project-datasets/main/Population%20Data.csv')
wp
#wp is my variable name for world population dataset

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,552530654.0,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26223391.0,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53145033.0,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,14744658.0,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13265331.0,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0

In [8]:
#checking first and  last 10 rows of our datasets
#first 10 rows
wp.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,552530654.0,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0
5,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0,2811666.0
6,Andorra,AND,"Population, total",SP.POP.TOTL,9443.0,10216.0,11014.0,11839.0,12690.0,13563.0,...,71013.0,71367.0,71621.0,71746.0,72540.0,73837.0,75013.0,76343.0,77700.0,79034.0
7,Arab World,ARB,"Population, total",SP.POP.TOTL,93359407.0,95760348.0,98268683.0,100892507.0,103618568.0,106444103.0,...,380383408.0,389131555.0,397922915.0,406501999.0,415077960.0,423664839.0,432545676.0,441467739.0,449228296.0,456520777.0
8,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,133426.0,140984.0,148877.0,157006.0,165305.0,173797.0,...,8664969.0,8751847.0,8835951.0,8916899.0,8994263.0,9068296.0,9140169.0,9211657.0,9287289.0,9365145.0
9,Argentina,ARG,"Population, total",SP.POP.TOTL,20349744.0,20680653.0,21020359.0,21364017.0,21708487.0,22053661.0,...,41733271.0,42202935.0,42669500.0,43131966.0,43590368.0,44044811.0,44494502.0,44938712.0,45376763.0,45808747.0

In [9]:
#checking last 10 Rows
wp.tail(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
256,Virgin Islands (U.S.),VIR,"Population, total",SP.POP.TOTL,3.250000e+04,3.430000e+04,3.500000e+04,3.980000e+04,4.080000e+04,4.350000e+04,...,1.081880e+05,1.080410e+05,1.078820e+05,1.077120e+05,1.075160e+05,1.072810e+05,1.070010e+05,1.066690e+05,1.062900e+05,1.058700e+05
257,Vietnam,VNM,"Population, total",SP.POP.TOTL,3.271846e+07,3.362198e+07,3.453389e+07,3.552673e+07,3.650917e+07,3.746608e+07,...,8.930133e+07,9.026774e+07,9.123550e+07,9.219140e+07,9.312653e+07,9.403305e+07,9.491433e+07,9.577672e+07,9.664868e+07,9.746803e+07
258,Vanuatu,VUT,"Population, total",SP.POP.TOTL,6.460800e+04,6.646200e+04,6.839100e+04,7.040000e+04,7.249300e+04,7.467700e+04,...,2.573130e+05,2.635340e+05,2.699270e+05,2.764380e+05,2.832180e+05,2.902390e+05,2.972980e+05,3.044040e+05,3.116850e+05,3.191370e+05
259,World,WLD,"Population, total",SP.POP.TOTL,3.031565e+09,3.072511e+09,3.126935e+09,3.193509e+09,3.260518e+09,3.328285e+09,...,7.140896e+09,7.229185e+09,7.317509e+09,7.404911e+09,7.491934e+09,7.578158e+09,7.661776e+09,7.742682e+09,7.820982e+09,7.888409e+09
260,Samoa,WSM,"Population, total",SP.POP.TOTL,1.133350e+05,1.168200e+05,1.201630e+05,1.234160e+05,1.265820e+05,1.297890e+05,...,1.981240e+05,1.999390e+05,2.017570e+05,2.035710e+05,2.055440e+05,2.076300e+05,2.097010e+05,2.119050e+05,2.149290e+05,2.187640e+05
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,9.470000e+05,9.660000e+05,9.940000e+05,1.022000e+06,1.050000e+06,1.078000e+06,...,1.807106e+06,1.818117e+06,1.812771e+06,1.788196e+06,1.777557e+06,1.791003e+06,1.797085e+06,1.788878e+06,1.790133e+06,1.786038e+06
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5.542459e+06,5.646668e+06,5.753386e+06,5.860197e+06,5.973803e+06,6.097298e+06,...,2.622339e+07,2.698400e+07,2.775330e+07,2.851654e+07,2.927400e+07,3.003439e+07,3.079051e+07,3.154669e+07,3.228405e+07,3.298164e+07
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,1.652044e+07,1.698946e+07,1.750313e+07,1.804222e+07,1.860310e+07,1.918719e+07,...,5.314503e+07,5.387362e+07,5.472955e+07,5.587650e+07,5.642227e+07,5.664121e+07,5.733964e+07,5.808706e+07,5.880193e+07,5.939226e+07
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3.119430e+06,3.219451e+06,3.323427e+06,3.431381e+06,3.542764e+06,3.658024e+06,...,1.474466e+07,1.523498e+07,1.573779e+07,1.624823e+07,1.676776e+07,1.729805e+07,1.783589e+07,1.838048e+07,1.892772e+07,1.947312e+07
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3.806310e+06,3.925952e+06,4.049778e+06,4.177931e+06,4.310332e+06,4.447149e+06,...,1.326533e+07,1.355542e+07,1.385575e+07,1.415494e+07,1.445270e+07,1.475110e+07,1.505218e+07,1.535461e+07,1.566967e+07,1.599352e+07

In [17]:
wp.sample(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
11,American Samoa,ASM,"Population, total",SP.POP.TOTL,2.008500e+04,2.062600e+04,2.127200e+04,2.194900e+04,2.265600e+04,2.339100e+04,...,5.369100e+04,5.299500e+04,5.221700e+04,5.136800e+04,5.044800e+04,4.946300e+04,4.842400e+04,4.732100e+04,4.618900e+04,4.503500e+04
106,Indonesia,IDN,"Population, total",SP.POP.TOTL,8.838288e+07,9.081694e+07,9.334549e+07,9.596253e+07,9.867506e+07,1.011579e+08,...,2.502227e+08,2.532759e+08,2.562298e+08,2.590920e+08,2.618502e+08,2.644989e+08,2.670668e+08,2.695829e+08,2.718580e+08,2.737532e+08
223,Sweden,SWE,"Population, total",SP.POP.TOTL,7.484656e+06,7.519998e+06,7.561588e+06,7.604328e+06,7.661354e+06,7.733853e+06,...,9.519374e+06,9.600379e+06,9.696110e+06,9.799186e+06,9.923085e+06,1.005770e+07,1.017521e+07,1.027889e+07,1.035344e+07,1.041581e+07
196,West Bank and Gaza,PSE,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,3.979998e+06,4.076708e+06,4.173398e+06,4.270092e+06,4.367088e+06,4.454805e+06,4.569087e+06,4.685306e+06,4.803269e+06,4.922749e+06
68,Euro area,EMU,"Population, total",SP.POP.TOTL,2.652450e+08,2.675606e+08,2.699084e+08,2.722919e+08,2.747005e+08,2.771521e+08,...,3.361831e+08,3.373288e+08,3.384869e+08,3.395147e+08,3.405094e+08,3.412461e+08,3.420652e+08,3.424527e+08,3.429134e+08,3.430678e+08
259,World,WLD,"Population, total",SP.POP.TOTL,3.031565e+09,3.072511e+09,3.126935e+09,3.193509e+09,3.260518e+09,3.328285e+09,...,7.140896e+09,7.229185e+09,7.317509e+09,7.404911e+09,7.491934e+09,7.578158e+09,7.661776e+09,7.742682e+09,7.820982e+09,7.888409e+09
202,Russian Federation,RUS,"Population, total",SP.POP.TOTL,1.198970e+08,1.212360e+08,1.225910e+08,1.239600e+08,1.253450e+08,1.267450e+08,...,1.432017e+08,1.435070e+08,1.438197e+08,1.440969e+08,1.443424e+08,1.444967e+08,1.444779e+08,1.444063e+08,1.440731e+08,1.434493e+08
56,Djibouti,DJI,"Population, total",SP.POP.TOTL,8.594000e+04,8.927000e+04,9.312200e+04,9.767000e+04,1.029450e+05,1.087720e+05,...,9.542970e+05,9.717530e+05,9.890870e+05,1.006259e+06,1.023261e+06,1.040233e+06,1.057198e+06,1.073994e+06,1.090156e+06,1.105557e+06
178,Nepal,NPL,"Population, total",SP.POP.TOTL,1.016794e+07,1.036514e+07,1.057072e+07,1.078272e+07,1.100282e+07,1.123295e+07,...,2.733069e+07,2.738156e+07,2.746211e+07,2.761032e+07,2.786119e+07,2.818343e+07,2.850671e+07,2.883250e+07,2.934863e+07,3.003499e+07
161,Middle East & North Africa (excluding high inc...,MNA,"Population, total",SP.POP.TOTL,9.717966e+07,9.962028e+07,1.021599e+08,1.048179e+08,1.075773e+08,1.104320e+08,...,3.562397e+08,3.633102e+08,3.707564e+08,3.781373e+08,3.850545e+08,3.916074e+08,3.983753e+08,4.052594e+08,4.118101e+08,4.180472e+08
37,Switzerland,CHE,"Population, total",SP.POP.TOTL,5.327827e+06,5.434294e+06,5.573815e+06,5.694247e+06,5.789228e+06,5.856472e+06,...,7.996861e+06,8.089346e+06,8.188649e+06,8.282396e+06,8.373338e+06,8.451840e+06,8.514329e+06,8.575280e+06,8.638167e+06,8.703405e+06
18,Benin,BEN,"Population, total",SP.POP.TOTL,2.512284e+06,2.551216e+06,2.593302e+06,2.638082e+06,2.685619e+06,2.735843e+06,...,1.001408e+07,1.030873e+07,1.061484e+07,1.093278e+07,1.126008e+07,1.159678e+07,1.194068e+07,1.229044e+07,1.264312e+07,1.299690e+07
222,Slovenia,SVN,"Population, total",SP.POP.TOTL,1.584720e+06,1.594131e+06,1.603649e+06,1.616971e+06,1.632114e+06,1.649160e+06,...,2.057159e+06,2.059953e+06,2.061980e+06,2.063531e+06,2.065042e+06,2.066388e+06,2.073894e+06,2.088385e+06,2.102419e+06,2.108079e+06
60,Algeria,DZA,"Population, total",SP.POP.TOTL,1.139431e+07,1.159861e+07,1.177826e+07,1.196945e+07,1.217910e+07,1.238126e+07,...,3.726056e+07,3.800063e+07,3.876017e+07,3.954315e+07,4.033933e+07,4.113655e+07,4.192701e+07,4.270537e+07,4.345167e+07,4.417797e+07
230,East Asia & Pacific (IDA & IBRD countries),TEA,"Population, total",SP.POP.TOTL,8.848112e+08,8.840805e+08,8.956834e+08,9.186440e+08,9.412057e+08,9.643935e+08,...,1.976387e+09,1.993077e+09,2.009150e+09,2.024511e+09,2.039795e+09,2.055415e+09,2.068899e+09,2.080649e+09,2.090524e+09,2.097669e+09
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1.306926e+08,1.341692e+08,1.378356e+08,1.416305e+08,1.456060e+08,1.497424e+08,...,5.525307e+08,5.678919e+08,5.836508e+08,6.000082e+08,6.163773e+08,6.327463e+08,6.497569e+08,6.672427e+08,6.851127e+08,7.029768e+08
80,Gabon,GAB,"Population, total",SP.POP.TOTL,5.133400e+05,5.193290e+05,5.257540e+05,5.325920e+05,5.398300e+05,5.475350e+05,...,1.836705e+06,1.902226e+06,1.966855e+06,2.028517e+06,2.086206e+06,2.140215e+06,2.192012e+06,2.242785e+06,2.292573e+06,2.341179e+06
260,Samoa,WSM,"Population, total",SP.POP.TOTL,1.133350e+05,1.168200e+05,1.201630e+05,1.234160e+05,1.265820e+05,1.297890e+05,...,1.981240e+05,1.999390e+05,2.017570e+05,2.035710e+05,2.055440e+05,2.076300e+05,2.097010e+05,2.119050e+05,2.149290e+05,2.187640e+05
99,Croatia,HRV,"Population, total",SP.POP.TOTL,4.140181e+06,4.167292e+06,4.196712e+06,4.225675e+06,4.252876e+06,4.280923e+06,...,4.267558e+06,4.255689e+06,4.238389e+06,4.203604e+06,4.174349e+06,4.124531e+06,4.087843e+06,4.065253e+06,4.047680e+06,3.899000e+06
59,Dominican Republic,DOM,"Population, total",SP.POP.TOTL,3.298021e+06,3.408415e+06,3.521164e+06,3.635798e+06,3.752313e+06,3.868712e+06,...,1.003088e+07,1.015705e+07,1.028212e+07,1.040583e+07,1.052759e+07,1.064724e+07,1.076553e+07,1.088188e+07,1.099966e+07,1.111787e+07

In [10]:
#understanding the dataset::checking the column name
wp.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [12]:
#understanding the dataset type
wp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            265 non-null    float64
 35  1991            265 non-null    float64
 36  1992            265 non-null    float64
 37  1993            265 non-null    float64
 38  1994            265 non-null    float64
 39  1995            265 non-null    float64
 40  1996            265 non-null    float64
 41  1997            265 non-null    float64
 42  1998            265 non-null    float64
 43  1999            265 non-null    float64
 44  2000            265 non-null    float64
 45  2001            265 non-null    float64
 46  2002            265 non-null    float64
 47  2003            265 non-null    float64
 48  2004            265 non-null    float64
 49  2005            265 non-null    float64
 50  2006            265 non-null    float64
 51  2007            265 non-null    float64
 52  2008            265 non-null    float64
 53  2009            265 non-null    float64
 54  2010            265 non-null    float64
 55  2011            265 non-null    float64
 56  2012            265 non-null    float64
 57  2013            265 non-null    float64
 58  2014            265 non-null    float64
 59  2015            265 non-null    float64
 60  2016            265 non-null    float64
 61  2017            265 non-null    float64
 62  2018            265 non-null    float64
 63  2019            265 non-null    float64
 64  2020            265 non-null    float64
 65  2021            265 non-null    float64
dtypes: float64(62), object(4)
memory usage: 137.3+ KB

In [ ]:
#population dataset has 266 rows and 66 columns; 
#4 columns are object and rest others are float type

In [13]:
wp.shape

(266, 66)

In [15]:
#checking null values in dataset
wp.isnull().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              2
                 ..
2017              1
2018              1
2019              1
2020              1
2021              1
Length: 66, dtype: int64

In [ ]:
##checking total null values in dataset

In [16]:
#we have total92 null values in dataset
wp.isnull().sum().sum()

92

In [ ]:

#dealing with null values;
#option1: we can leave it as it is as it is not going make much difference
#option2: we can delete the columns
#option3: we can change the null values to 0

In [ ]:
# we will go with option 3

In [30]:
wp.fillna(0,inplace=True)

0

In [31]:
#checking for null values again
wp.isnull().sum().sum()

0

In [33]:
#checking for duplicates in dataset
(wp.duplicated()).value_counts()

False    266
dtype: int64

In [ ]:
#we dont have any duplicate records in our dataset

In [43]:
#sorting the data country wise alphbatically
wp.sort_values(['Country Name'],ascending=True)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8.622466e+06,8.790140e+06,8.969047e+06,9.157465e+06,9.355514e+06,9.565147e+06,...,3.046648e+07,3.154121e+07,3.271621e+07,3.375350e+07,3.463621e+07,3.564342e+07,3.668678e+07,3.776950e+07,3.897223e+07,4.009946e+07
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1.306926e+08,1.341692e+08,1.378356e+08,1.416305e+08,1.456060e+08,1.497424e+08,...,5.525307e+08,5.678919e+08,5.836508e+08,6.000082e+08,6.163773e+08,6.327463e+08,6.497569e+08,6.672427e+08,6.851127e+08,7.029768e+08
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,9.725629e+07,9.931403e+07,1.014450e+08,1.036675e+08,1.059600e+08,1.083362e+08,...,3.767980e+08,3.872046e+08,3.978555e+08,4.086904e+08,4.197784e+08,4.311387e+08,4.426468e+08,4.543061e+08,4.661891e+08,4.781859e+08
5,Albania,ALB,"Population, total",SP.POP.TOTL,1.608800e+06,1.659800e+06,1.711319e+06,1.762621e+06,1.814135e+06,1.864791e+06,...,2.900401e+06,2.895092e+06,2.889104e+06,2.880703e+06,2.876101e+06,2.873457e+06,2.866376e+06,2.854191e+06,2.837849e+06,2.811666e+06
60,Algeria,DZA,"Population, total",SP.POP.TOTL,1.139431e+07,1.159861e+07,1.177826e+07,1.196945e+07,1.217910e+07,1.238126e+07,...,3.726056e+07,3.800063e+07,3.876017e+07,3.954315e+07,4.033933e+07,4.113655e+07,4.192701e+07,4.270537e+07,4.345167e+07,4.417797e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,West Bank and Gaza,PSE,"Population, total",SP.POP.TOTL,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.979998e+06,4.076708e+06,4.173398e+06,4.270092e+06,4.367088e+06,4.454805e+06,4.569087e+06,4.685306e+06,4.803269e+06,4.922749e+06
259,World,WLD,"Population, total",SP.POP.TOTL,3.031565e+09,3.072511e+09,3.126935e+09,3.193509e+09,3.260518e+09,3.328285e+09,...,7.140896e+09,7.229185e+09,7.317509e+09,7.404911e+09,7.491934e+09,7.578158e+09,7.661776e+09,7.742682e+09,7.820982e+09,7.888409e+09
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5.542459e+06,5.646668e+06,5.753386e+06,5.860197e+06,5.973803e+06,6.097298e+06,...,2.622339e+07,2.698400e+07,2.775330e+07,2.851654e+07,2.927400e+07,3.003439e+07,3.079051e+07,3.154669e+07,3.228405e+07,3.298164e+07
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3.119430e+06,3.219451e+06,3.323427e+06,3.431381e+06,3.542764e+06,3.658024e+06,...,1.474466e+07,1.523498e+07,1.573779e+07,1.624823e+07,1.676776e+07,1.729805e+07,1.783589e+07,1.838048e+07,1.892772e+07,1.947312e+07
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3.806310e+06,3.925952e+06,4.049778e+06,4.177931e+06,4.310332e+06,4.447149e+06,...,1.326533e+07,1.355542e+07,1.385575e+07,1.415494e+07,1.445270e+07,1.475110e+07,1.505218e+07,1.535461e+07,1.566967e+07,1.599352e+07

In [57]:
#checking the population change from 1960 to 2021
#creating a new column name 'population_change
wp['population_change']=wp['2021']-wp['1960']

In [58]:
wp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,population_change,population_change_percent
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,51929.0,0.000095
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0,572284253.0,1.050635
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,31476996.0,0.057787
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,380929617.0,0.699334
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,29146579.0,0.053509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,839038.0,0.001540
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,27439182.0,0.050375
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,42871814.0,0.078707
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,16353695.0,0.030023
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,12187214.0,0.022374

In [59]:
#creating a column name population_change_percent with % values for better undestanding of the data
wp['population_change_percent']=(wp['population_change']/wp['population_change'].sum())*100
wp.sample(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,population_change,population_change_percent
18,Benin,BEN,"Population, total",SP.POP.TOTL,2512284.0,2551216.0,2593302.0,2638082.0,2685619.0,2735843.0,...,10614844.0,10932783.0,11260085.0,11596779.0,11940683.0,12290444.0,12643123.0,12996895.0,10484611.0,0.019248
45,Colombia,COL,"Population, total",SP.POP.TOTL,15687688.0,16182414.0,16691282.0,17210956.0,17739754.0,18275814.0,...,46677947.0,47119728.0,47625955.0,48351671.0,49276961.0,50187406.0,50930662.0,51516562.0,35828874.0,0.065777
225,Sint Maarten (Dutch part),SXM,"Population, total",SP.POP.TOTL,2646.0,2888.0,3171.0,3481.0,3811.0,4161.0,...,37685.0,38825.0,39969.0,40574.0,40895.0,41608.0,42310.0,42846.0,40200.0,0.000074
58,Denmark,DNK,"Population, total",SP.POP.TOTL,4579603.0,4611687.0,4647727.0,4684483.0,4722072.0,4759012.0,...,5643475.0,5683483.0,5728010.0,5764980.0,5793636.0,5814422.0,5831404.0,5856733.0,1277130.0,0.002345
77,France,FRA,"Population, total",SP.POP.TOTL,46649927.0,47161641.0,47679792.0,48189939.0,48733997.0,49282756.0,...,66312067.0,66548272.0,66724104.0,66918020.0,67158348.0,67388001.0,67571107.0,67749632.0,21099705.0,0.038736
167,Mauritius,MUS,"Population, total",SP.POP.TOTL,676683.0,680757.0,700349.0,718861.0,736381.0,753000.0,...,1260934.0,1262605.0,1263473.0,1264613.0,1265303.0,1265711.0,1265740.0,1266060.0,589377.0,0.001082
127,Kuwait,KWT,"Population, total",SP.POP.TOTL,305415.0,339697.0,378190.0,420494.0,465748.0,513840.0,...,3761584.0,3908743.0,4048085.0,4124904.0,4317185.0,4441100.0,4360444.0,4250114.0,3944699.0,0.007242
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,12187214.0,0.022374
5,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0,2811666.0,1202866.0,0.002208
185,Panama,PAN,"Population, total",SP.POP.TOTL,1126989.0,1160832.0,1196289.0,1233267.0,1271461.0,1310556.0,...,3888793.0,3957099.0,4026336.0,4096063.0,4165255.0,4232532.0,4294396.0,4351267.0,3224278.0,0.005919

AttributeError: ignored

In [73]:
maxpop(wp['population_change'])

[51929.0]

In [80]:
import numpy as np

In [84]:
#countries with population more than 10000000 in 2021
wp1=wp[wp['2021']>10000000]
wp1

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,population_change,population_change_percent
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1.306926e+08,1.341692e+08,1.378356e+08,1.416305e+08,1.456060e+08,1.497424e+08,...,5.836508e+08,6.000082e+08,6.163773e+08,6.327463e+08,6.497569e+08,6.672427e+08,6.851127e+08,7.029768e+08,5.722843e+08,1.050635
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8.622466e+06,8.790140e+06,8.969047e+06,9.157465e+06,9.355514e+06,9.565147e+06,...,3.271621e+07,3.375350e+07,3.463621e+07,3.564342e+07,3.668678e+07,3.776950e+07,3.897223e+07,4.009946e+07,3.147700e+07,0.057787
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,9.725629e+07,9.931403e+07,1.014450e+08,1.036675e+08,1.059600e+08,1.083362e+08,...,3.978555e+08,4.086904e+08,4.197784e+08,4.311387e+08,4.426468e+08,4.543061e+08,4.661891e+08,4.781859e+08,3.809296e+08,0.699334
4,Angola,AGO,"Population, total",SP.POP.TOTL,5.357195e+06,5.441333e+06,5.521400e+06,5.599827e+06,5.673199e+06,5.736582e+06,...,2.712834e+07,2.812772e+07,2.915475e+07,3.020863e+07,3.127353e+07,3.235359e+07,3.342849e+07,3.450377e+07,2.914658e+07,0.053509
7,Arab World,ARB,"Population, total",SP.POP.TOTL,9.335941e+07,9.576035e+07,9.826868e+07,1.008925e+08,1.036186e+08,1.064441e+08,...,3.979229e+08,4.065020e+08,4.150780e+08,4.236648e+08,4.325457e+08,4.414677e+08,4.492283e+08,4.565208e+08,3.631614e+08,0.666714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,World,WLD,"Population, total",SP.POP.TOTL,3.031565e+09,3.072511e+09,3.126935e+09,3.193509e+09,3.260518e+09,3.328285e+09,...,7.317509e+09,7.404911e+09,7.491934e+09,7.578158e+09,7.661776e+09,7.742682e+09,7.820982e+09,7.888409e+09,4.856844e+09,8.916494
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5.542459e+06,5.646668e+06,5.753386e+06,5.860197e+06,5.973803e+06,6.097298e+06,...,2.775330e+07,2.851654e+07,2.927400e+07,3.003439e+07,3.079051e+07,3.154669e+07,3.228405e+07,3.298164e+07,2.743918e+07,0.050375
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,1.652044e+07,1.698946e+07,1.750313e+07,1.804222e+07,1.860310e+07,1.918719e+07,...,5.472955e+07,5.587650e+07,5.642227e+07,5.664121e+07,5.733964e+07,5.808706e+07,5.880193e+07,5.939226e+07,4.287181e+07,0.078707
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3.119430e+06,3.219451e+06,3.323427e+06,3.431381e+06,3.542764e+06,3.658024e+06,...,1.573779e+07,1.624823e+07,1.676776e+07,1.729805e+07,1.783589e+07,1.838048e+07,1.892772e+07,1.947312e+07,1.635370e+07,0.030023
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3.806310e+06,3.925952e+06,4.049778e+06,4.177931e+06,4.310332e+06,4.447149e+06,...,1.385575e+07,1.415494e+07,1.445270e+07,1.475110e+07,1.505218e+07,1.535461e+07,1.566967e+07,1.599352e+07,1.218721e+07,0.022374

In [92]:
#BRICS countries data analysis
wp_brics= wp[wp['Country Name'].isin(['Brazil','Russia','India','China','South Africa'])]
wp_brics

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,population_change,population_change_percent
29,Brazil,BRA,"Population, total",SP.POP.TOTL,73092515.0,75330008.0,77599218.0,79915555.0,82262794.0,84623747.0,...,2.034596e+08,2.051882e+08,2.068596e+08,2.085050e+08,2.101666e+08,2.117829e+08,2.131963e+08,2.143262e+08,141233708.0,0.259286
40,China,CHN,"Population, total",SP.POP.TOTL,667070000.0,660330000.0,665770000.0,682335000.0,698355000.0,715185000.0,...,1.371860e+09,1.379860e+09,1.387790e+09,1.396215e+09,1.402760e+09,1.407745e+09,1.411100e+09,1.412360e+09,745290000.0,1.368249
109,India,IND,"Population, total",SP.POP.TOTL,445954579.0,456351876.0,467024193.0,477933619.0,489059309.0,500114346.0,...,1.307247e+09,1.322867e+09,1.338636e+09,1.354196e+09,1.369003e+09,1.383112e+09,1.396387e+09,1.407564e+09,961609263.0,1.765382
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,5.472955e+07,5.587650e+07,5.642227e+07,5.664121e+07,5.733964e+07,5.808706e+07,5.880193e+07,5.939226e+07,42871814.0,0.078707

In [103]:
#sum of total brics population in 2021
wp_brics['total_population_2021']=wp_brics['2021'].sum()

<ipython-input-103-1eedb435d838>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wp_brics['total_population_2021']=wp_brics['2021'].sum()

In [95]:
wp_brics

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,population_change,population_change_percent,total_population_2021
29,Brazil,BRA,"Population, total",SP.POP.TOTL,73092515.0,75330008.0,77599218.0,79915555.0,82262794.0,84623747.0,...,2.051882e+08,2.068596e+08,2.085050e+08,2.101666e+08,2.117829e+08,2.131963e+08,2.143262e+08,141233708.0,0.259286,3.093642e+09
40,China,CHN,"Population, total",SP.POP.TOTL,667070000.0,660330000.0,665770000.0,682335000.0,698355000.0,715185000.0,...,1.379860e+09,1.387790e+09,1.396215e+09,1.402760e+09,1.407745e+09,1.411100e+09,1.412360e+09,745290000.0,1.368249,3.093642e+09
109,India,IND,"Population, total",SP.POP.TOTL,445954579.0,456351876.0,467024193.0,477933619.0,489059309.0,500114346.0,...,1.322867e+09,1.338636e+09,1.354196e+09,1.369003e+09,1.383112e+09,1.396387e+09,1.407564e+09,961609263.0,1.765382,3.093642e+09
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,5.587650e+07,5.642227e+07,5.664121e+07,5.733964e+07,5.808706e+07,5.880193e+07,5.939226e+07,42871814.0,0.078707,3.093642e+09

In [97]:
#reseting the index
wp_brics.reset_index(drop='index')

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,population_change,population_change_percent,total_population_2021
0,Brazil,BRA,"Population, total",SP.POP.TOTL,73092515.0,75330008.0,77599218.0,79915555.0,82262794.0,84623747.0,...,2.051882e+08,2.068596e+08,2.085050e+08,2.101666e+08,2.117829e+08,2.131963e+08,2.143262e+08,141233708.0,0.259286,3.093642e+09
1,China,CHN,"Population, total",SP.POP.TOTL,667070000.0,660330000.0,665770000.0,682335000.0,698355000.0,715185000.0,...,1.379860e+09,1.387790e+09,1.396215e+09,1.402760e+09,1.407745e+09,1.411100e+09,1.412360e+09,745290000.0,1.368249,3.093642e+09
2,India,IND,"Population, total",SP.POP.TOTL,445954579.0,456351876.0,467024193.0,477933619.0,489059309.0,500114346.0,...,1.322867e+09,1.338636e+09,1.354196e+09,1.369003e+09,1.383112e+09,1.396387e+09,1.407564e+09,961609263.0,1.765382,3.093642e+09
3,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,5.587650e+07,5.642227e+07,5.664121e+07,5.733964e+07,5.808706e+07,5.880193e+07,5.939226e+07,42871814.0,0.078707,3.093642e+09

In [102]:
total_brics_population=wp_brics.sum()
total_brics_population.tail(7)

2018                          3039269533.0
2019                          3060726983.0
2020                          3079485358.0
2021                          3093642320.0
population_change             1891004785.0
population_change_percent         3.471623
total_population_2021        12374569280.0
dtype: object